<h1>Status Updates</h1>




 <table>
   <tr>
     <th> Status </th>
     <th>  User </th>
     <th> Like?! </th>
     <th></th>
     <th></th>
   </tr>


   <tbody>
     <% @statuses.each do |status| %>
     <tr>
       <td><%=link_to status.message, status_path(status) %> </td>
       <td><%= status.name %> </td>
       <td><%= pluralize(status.votes.count, "like") %><%= button_to 'Like!', upvote_status_path(status), method: :post %>
       <td><%= link_to "Update Status", edit_status_path(status)%> </td>
     </tr>
     <% end %>
<%= link_to "Create Status", new_status_path %>
   </tbody>
 </table>
